#red {
    color: red;
}

#blue {
    color: blue;
}

#orange {
    color: orange;
}

#pink {
    color: pink;
}

#yellow {
    color: yellow;
}

*{
    text-align: center
}

.color-weight {
    font-weight: normal;
}

img{
    height: 200px;
    width: 200px;
}

h1{
    color: darkmagenta;
}
h2{
    color:black;
}
h1{
    background-color: red;
}
h2{
    background-color:mediumpurple;
}
*{
    background-color:darkcyan;
}